/public/storage
/storage/*.key
/vendor
.env
.env.backup
/.idea
/.vscode
/public/vendor
.cache
.env
.bash_history
.cache/
.htaccess
*.tar
readme.md
.composer/
.mysql_history
.editorconfig
.env.example
.env.save
.gitattributes
.gitconfig
/public/assets
.config/
.npm/
public/frontend/
composer.lock
public/robots.txt
public/sitemap.xml
